# Ignore workspace settings in VS Code
**/.vscode/settings.json

# Ignore my python virtual environment
**/venv/

# Ignore all __pycache__ folders
**/__pycache__/

**/.env

# Ignore the testdb.py file
**/testdb.py

# Ignore .DS_Store files
**/.DS_Store